* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    background-color: gray;
}

section {
    background-color: blue;
}

article {
    background-color: red;
}

footer {
    background-color: green;
}

.logo {
    margin-left: 0;
    margin-right: auto;
    align-content: left;
    background-color: yellow;
}

.name {
    margin-left: auto;
    margin-right: 0;
    align-content: right;
    background-color: purple;
}