@font-face {
    font-family: "roboto";
    src: url("fonts/Roboto-Light-webfont.woff") format("woff");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "roboto", sans-serif;
    font-size: 14px;
    line-height: 1.8em;
  }

.page {
    display: flex;
    flex-wrap: wrap;
}

header {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    color: #2d3c49;
}

hr {
    width: 100%;
    margin-bottom: 5px;
    border-top: 0.2em solid #7d97ad;
}

figure {
    max-height: 300px;
}


section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 10px 0px 0px 20px;
}

article {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
}

article img {
    border: 1px solid #2d3c49;
    max-width: 100%;
    height: auto;
}

footer {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
    font-size: 14px;
    background-color: #7d97ad; 
}

h2 {
    color: #7d97ad;
}

header img {
    margin-left: 0;
    margin-right: auto;
    align-content: left;
    padding: 10px 0px 0px 10px;
    width: 100px;
}

.name {
    margin-left: auto;
    margin-right: 0;
    text-align: right; 
    padding: 10px 10px 0px 0px;
}

.page-header {
    padding-top: 15px;
}


/* Tablet Styles */
@media screen and (min-width: 650px) and (max-width: 960px) {
    article {
        width: 50%;
        padding: 10px;
    }

    header img {
        width: 126px;
    }

}

/* Desktop Styles */
@media screen and (min-width: 961px) {
    .page {
        width: 960px;
        margin: 0 auto;
    }

    article {
        width: 33.3%;
        padding: 10px;
    }

    header img {
        width: 126px;
    }


}