/* Common Styles */
@font-face {
    font-family: "roboto";
    src: url("../fonts/Roboto-Light-webfont.woff") format("woff");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "roboto", sans-serif;
    font-size: 14px;
    line-height: 1.8em;
  }

.container {
    display: flex;
    flex-wrap: wrap;
}

header {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    color: #2d3c49;
}

.page-header {
    margin-top: 15px;
}

.header-logo {
    margin-left: 15px;
    margin-right: auto;
}

.logo-img {
    width: 100px;
    height: auto;
}

.header-text {
    margin-left: auto;
    margin-right: 15px;
    text-align: right; 
}

.page-header {
    border-bottom: 3px solid #7d97ad;
    align-items: center;
    margin-top: 10px;
}

figure img {
    padding-top: 10px;
    max-height: 300px;
    width: 100%;
}

section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

article {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 10px;
}

article img {
    border: 1px solid #2d3c49;
    max-width: 100%;
    height: auto;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 100%;
    background-color: #7d97ad; 
}

.social-media-link {
    margin: 0px 20px 0px 20px;
}

h2 {
    color: #7d97ad;
    margin-left: 10px;
}

/* Tablet Styles */
@media screen and (min-width: 650px) and (max-width: 960px) {
    article {
        width: 50%;
    }

    .logo-img {
        width: 126px;
        height: auto;
    }
}

/* Desktop Styles */
@media screen and (min-width: 961px) {
    .page {
        width: 960px;
        margin: 0 auto;
    }

    article {
        width: 33.3%;
    }

    .logo-img {
        width: 126px;
        height: auto;
    }
}