* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, h1, p, .btn {
    font-family: 'Roboto', Verdana, Geneva, Tahoma, sans-serif;
    color: #272838;
}


.page {
    display: flex;
    flex-wrap: wrap;
}

.section {
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu {
    background-color: #7e7f9a;
    height: 80px;
}

.title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 67%;
    align-items: flex-start;
    margin-left: 20px;
    height: 80px;
}


.btn {
    background-color: #f3de8a;
    border: none;
}

.login-button:active {
    background-color: #eb9486;
    box-shadow: 0 5px #666;
    transform: translateY(2px);
}


.banner {
    width: 100%;
    height: auto;
}

.banner img {
    width: 100%;
    height: auto;
}


.category-container {
    justify-content: space-evenly;
    flex-wrap: wrap;
    height: auto;
    background-color: #7e7f9a;
    padding-bottom: 5px;
}

.category {
    width: 100%;
    height: 40px;
    background-color: #7cabba;
    border-radius: 5px;
    margin-top: 5px;
    text-align: center;
}

.category:hover {
    border: black solid 3px;
    background-color: #9dcddd;
}

.category-link {
    display: block;
    width: 100%;
    height: 40px;
    line-height: 40px;
    color: #272838;
    text-decoration: none;
    font-size: 1.2em;
}

.category-link:hover {
    text-decoration: none;
}

.breadcrumb-link {
    color: #272838;
}

.create-posting {
    background-color: #f3de8a;
    font-weight: bold; 
}

.create-posting:hover {
    background-color: #f4e4a3;
}

.card-container {
    justify-content: space-evenly;
    flex-wrap: wrap;
    height: auto;
    background-color: #7e7f9a;
    padding-bottom: 15px;
}

.car-card {
    flex-direction: column;
    width: 100%;
    height: 250px;
    background-color: #f3de8a;
    border-radius: 5px;
    margin-top: 10px;
}

.car-card-img-holder {
    width: 90%;
    height: 170px;
    justify-content: center;
    overflow: hidden;
    margin-top: 15px;
    margin-bottom: 5px;
}

.car-card-img-holder img {
    width: 100%;
    height: auto;
}

.car-card-link {
    display: block;
    width: 100%;
    height: 300px;
    line-height: 300px;
    color: #272838;
    text-decoration: none;
}

.footer {
    height: 60px;
    background-color: #f9f8f8;
}

.section-title {
    height: 60px;
    justify-content: center;
    background-color: #f9f8f8;
}

.breadcrumb-banner {
    height: 60px;
    justify-content: left;
    background-color: #7cabba;
    padding-left: 20px;
}

.category-container {
    justify-content: space-evenly;
    flex-wrap: wrap;
    height: auto;
    background-color: #7e7f9a;
    padding-bottom: 0px;
}

.car-container {
    background-color: #7e7f9a;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    justify-content: space-around;
    padding-top: 20px;
}

.ad-img-container {
    width: 90%;
    max-height: 350px;
    overflow: hidden;
}

.ad-img-container img {
    width: 100%;
    height: auto;
}

.car-details {
    width: 100%;
    height: 120px;
    flex-direction: column;
    align-self: flex-start;
    padding: 10px 20px 10px 20px;
}

.car-description {
    width: 100%;
    padding: 10px 20px 10px 20px;
}

.update-delete-links {
    width: 100%;
    text-align: right;
    padding-right: 20px;
    padding-bottom: 10px;
}

.car-form {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #f9f8f8;
}

.alert {
    width: 100%;
    margin-bottom: 0;
}



input[type=text],
input[type=number],
textarea,
fieldset {
    /* required to properly style form elements on WebKit based browsers */
    -webkit-appearance: none;

    border:1px solid #333;
    margin: 0;

    font-family: inherit;
    font-size: 90%;

    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

textarea {
    width: 100%;
}

input:invalid {
    box-shadow: 0 0 5px 1px red;
}

input:focus:invalid {
    outline: none;
}



/* Mobile Styles */
@media only screen and (max-width: 400px) {
    body {
        background-color: #F09A9D;
    }

    input[type=text],
    input[type=number],
    textarea,
    fieldset {
        width: 100%;
    }
}

/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
    .category {
        width: 49%;
    }
    .car-card {
        width: 45%;
    }
    .ad-img-container {
        width: 55%;
    }
    .car-details {
        width: 35%;
    }
    input[type=text],
    input[type=number],
    textarea,
    fieldset {
        width: 100%;
    }
}

/* Desktop Styles */
@media only screen and (min-width: 961px) {
    .page {
        width: 960px;
        margin: 0 auto;
    }
    .category {
        width: 49%;
    }
    .car-card {
        width: 30%;
    }
    .ad-img-container {
        width: 55%;
    }
    .car-details {
        width: 35%;
    }
}