<!DOCTYPE html>
<html lang='en'>

<head>
  <meta charset='UTF-8' />
  <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0' />
  <title>Cars For Sale</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
    crossorigin="anonymous">
  <link rel='stylesheet' href="https://fonts.googleapis.com/css?family=Roboto">
  <link rel='stylesheet' href="{{ url_for('static', filename='css/styles.css') }}">



</head>

<body>
  <div class='page'>
    <div class='section menu'>
      <div class='title'>
        <h1>Car Catalog App</h1>
      </div>
      <div class='login-button-container'>
        <a href="{{ url_for('gdisconnect') }}" class="btn btn-primary btn-lg" role="button">Logout</a>
      </div>
    </div>
    {% with messages = get_flashed_messages(with_categories=true) %} {% if messages %} {% for category, message in messages %}
    <div class="alert alert-{{ category }} alert-dismissible fade in show" role="alert">
      <strong>Holy guacamole!</strong> {{ message }}
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    {% endfor %} {% endif %} {% endwith %}
    <div class='section breadcrumb-banner'>
      <span>
        <a class='breadcrumb-link' href="{{ url_for('showMainPage') }}">Home</a> >
        <a class='breadcrumb-link' href="{{ url_for('readCategory',category=car.category) }}">{{ car.category }}</a> > {{ car.year }} {{ car.make }} {{ car.model }}</span>
    </div>
    <div class='section section-title'>
      <h3>{{ car.year }} {{ car.make }} {{ car.model }}</h3>
    </div>
    <div class='section car-container'>
      <div class='ad-img-container'>
        {% if car.image is none %}
        <img src="{{ url_for('static', filename='uploads/placeholder.png') }}"> {% else %}
        <img src="{{ url_for('static', filename='uploads/' + car.image) }}"> {% endif %}
      </div>
      <div class='car-details'>
        <h4>Price: {{ format_currency(car.price) }}</h4>
        <h4>Year: {{ car.year }}</h4>
        <h4>Make: {{ car.make }}</h4>
        <h4>Model: {{ car.model }}</h4>
        <h4>Mileage: {{ format_number(car.mileage) }}</h4>
      </div>
      <div class='car-description'>
        <p>{{ car.description }}</p>
      </div>
      {% if user_id == car.user_id %}
      <div class='update-delete-links'>
        <span>
          <a href="{{ url_for('updateCar', category=car.category, car_id=car.id) }}">Update Post</a> |
          <a href="{{ url_for('deleteCar', category=car.category, car_id=car.id) }}">Delete Post</a>
        </span>
      </div>
      {% endif %}
    </div>
    <div class='section footer'>
      <p>This is the footer</p>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js " integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN "
    crossorigin="anonymous "></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js " integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh "
    crossorigin="anonymous "></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js " integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ "
    crossorigin="anonymous "></script>

</body>

</html>