<!DOCTYPE html>
<html lang='en'>

<head>
  <meta charset='UTF-8' />
  <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0' />
  <title>Cars For Sale</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
    crossorigin="anonymous">
  <link rel='stylesheet' href="https://fonts.googleapis.com/css?family=Roboto">
  <link rel='stylesheet' href="{{ url_for('static', filename='css/styles.css') }}">



</head>

<body>
  <div class='page'>
    <div class='section menu'>
      <div class='title'>
        <h1>Car Catalog App</h1>
      </div>
      <div class='login-button-container'>
        <a href="{{ url_for('disconnect') }}" class="btn btn-primary btn-sm" role="button">Logout</a>
        <a href="{{ url_for('myPosts') }}">My Posts</a>
      </div>
    </div>
    <div class='section breadcrumb-banner'>
      <span>
        <a class='breadcrumb-link' href="{{ url_for('showMainPage') }}">Home</a> > Create</span>
    </div>
    <div class='section section-title'>
      <h3>Create New Post</h3>
    </div>
    <div class='car-form'>
      <form action="{{ url_for('createCar') }}" method='post' enctype='multipart/form-data'>
        <label for='category'>Please select a category:</label>
        <input type='text' id='category' name='category' list='l1' required pattern='Coupe|Hatchback|Pickup|Sedan|SUV|Van|Wagon'>
        <datalist id='l1'>
          <option>Coupe</option>
          <option>Hatchback</option>
          <option>Pickup</option>
          <option>Sedan</option>
          <option>SUV</option>
          <option>Van</option>
          <option>Wagon</option>
        </datalist>
        </br>
        </br>
        <label for='year'>Year:</label>
        <input type='number' min='1900' max='2050' id='year' name='year' required pattern='[0-9]{4}'>
        <label for='make'>Make:</label>
        <input type='text' maxLength='20' name='make' required>
        <label for='model'>Model:</label>
        <input type='text' maxLength='30' name='model' required>
        </br>
        </br>
        <label for='mileage'>Mileage:</label>
        <input type='number' min='0' max='1000000' id='mileage' name='mileage'>
        <label for='price'>Price:</label>
        <input type='number' min='0' max='1000000000' id='price' name='price' placeholder='USD'>
        </br>
        </br>
        <label for='description'>Description:</label>
        </br>
        <textarea id='description' name='description' maxlength='1000' columns='300' rows='10'></textarea>
        </br>
        </br>
        <span class='button'>Upload Image:
          <input type='file' name='image' accept='image/*'>
        </span>
        </br>
        <div class='btn-toolbar'>
          <input type='submit' class='btn btn-success btn-lg' value='Create'>
          <a class='btn btn-warning btn-lg' href="{{ url_for('showMainPage') }}" role='button'>Cancel</a>
        </div class='btn-toolbar'>
    </div>
    </form>
  </div>

  <div class='section footer'>
    <p>This page was created by Eric Hanley as part of the Udacity Full Stack Nanodegree program.</p>
    <div class="social-media-links">
      <a class="social-media-link" href="https://github.com/ewhanley">
        <img src="{{ url_for('static', filename='GitHub-Mark-32px.png') }}" alt="GitHub profile" width="21" height="21" />
      </a>
      <a class="social-media-link" href="https://www.linkedin.com/in/ericwhanley/">
        <img src="{{ url_for('static', filename='In-Black-21px-TM.png') }}" alt="Linkedin profile" width="32" height="21" />
      </a>
    </div>
  </div>
  </div>

</body>

</html>