<!DOCTYPE html>
<html lang='en'>

<head>
  <meta charset='UTF-8' />
  <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0' />
  <title>Cars For Sale</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
    crossorigin="anonymous">
  <link rel='stylesheet' href="https://fonts.googleapis.com/css?family=Roboto">
  <link rel='stylesheet' href="{{ url_for('static', filename='css/styles.css') }}">



</head>

<body>
  <div class='page'>
    <div class='section menu'>
      <div class='title'>
        <h1>Car Catalog App</h1>
      </div>
      <div class='login-button-container'>
        <a href="{{ url_for('showLogin') }}" class="btn btn-primary btn-lg" role="button">Login</a>
      </div>
    </div>
    {% with messages = get_flashed_messages(with_categories=true) %} {% if messages %} {% for category, message in messages %}
    <div class="alert alert-{{ category }} alert-dismissible fade in show" role="alert">
      <strong>Holy guacamole!</strong> {{ message }}
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    {% endfor %} {% endif %} {% endwith %}

    <div class='section banner'>
      <img src="{{ url_for( 'static', filename='automobiles-1869873_1920.jpg' ) }} ">
    </div>
    <div class='section category-container'>
      <div class='section category'>
        <a class='category-link' href="{{ url_for( 'readCategory', category='Coupe' ) }} ">Coupe</a>
      </div>
      <div class='section category'>
        <a class='category-link' href="{{ url_for( 'readCategory', category='Hatchback' ) }} ">Hatchback</a>
      </div>
      <div class='section category'>
        <a class='category-link' href="{{ url_for( 'readCategory', category='Van' ) }} ">Van</a>
      </div>
      <div class='section category'>
        <a class='category-link' href="{{ url_for( 'readCategory', category='Pickup' ) }} ">Pickup</a>
      </div>
      <div class='section category'>
        <a class='category-link' href="{{ url_for( 'readCategory', category='Sedan' ) }} ">Sedan</a>
      </div>
      <div class='section category'>
        <a class='category-link' href="{{ url_for( 'readCategory', category='SUV' ) }} ">SUV</a>
      </div>
      <div class='section category'>
        <a class='category-link' href="{{ url_for( 'readCategory', category='Wagon' ) }} ">Wagon</a>
      </div>
      <div class='section category create-posting'>
        <a class='category-link' href="{{ url_for( 'createCar') }} ">Create New Posting</a>
      </div>
    </div>
    <div class='section card-container'>
      {% for car in newest %}
      <div class='section car-card'>
        <div class='car-card-img-holder'>
          <img src="{{ url_for( 'static', filename='uploads/' + car.image) }} ">
        </div>
        <a href="{{ url_for( 'readCar', category=car.category, car_id=car.id) }} ">
          <span>{{ car.year }} {{ car.make }} {{car.model }}</span>
        </a>
        <span>{{ format_currency(car.price) }}</span>
      </div>
      {% endfor %}
    </div>
    <div class='section footer'>
      <p>This page was created by Eric Hanley as part of the Udacity Full Stack Nanodegree program.</p>
      <div class="social-media-links">
        <a class="social-media-link" href="https://github.com/ewhanley">
          <img src="{{ url_for('static', filename='GitHub-Mark-32px.png') }}" alt="GitHub profile" width="21" height="21" />
        </a>
        <a class="social-media-link" href="https://www.linkedin.com/in/ericwhanley/">
          <img src="{{ url_for('static', filename='In-Black-21px-TM.png') }}" alt="Linkedin profile" width="32" height="21" />
        </a>
      </div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js " integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN "
    crossorigin="anonymous "></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js " integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh "
    crossorigin="anonymous "></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js " integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ "
    crossorigin="anonymous "></script>

</body>

</html>