<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='UTF-8'/>
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0' />
    <title>Cars For Sale</title>
    <link rel='stylesheet' href="{{ url_for('static', filename='styles.css') }}"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  </head>
  <body>
    <div class='page'>
      <div class='section menu'>
        <div class='title'>
          <h1>Car Catalog App</h1>
        </div>
        <div class='login-button-container'>
            <button class="login-button">Login</button>
        </div>
      </div>
      <div class='section banner'>
        <img src="{{ url_for('static', filename='automobiles-1869873_1920.jpg') }}">
      </div>
      <div class='section category-container'>
        <div class='section category'>
          <p>Coupe</p>
        </div> 
        <div class='section category'>
          <p>Hatchback</p>
        </div>
        <div class='section category'>
          <p>Van</p>
        </div>
        <div class='section category'>
          <p>Pickup</p>
        </div>
        <div class='section category'>
          <p>Sedan</p>
        </div>
        <div class='section category'>
          <p>SUV</p>
        </div>
        <div class='section category'>
          <p>Wagon</p>
        </div>
        <div class='section category create-posting'>
          <p>Create New Posting</p>
        </div>
      </div>
      <div class='section card-container'>
        <div class='section car-card'>
          <p>This is feature 1</p>
        </div>
        <div class='section car-card'>
          <p>This is feature 2</p>
        </div>
        <div class='section car-card'>
          <p>This is feature 3</p>
        </div>
      </div>
      <div class='section footer'>
        <p>This is the footer</p>
      </div>
    </div>

  </body>
</html>