<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='UTF-8'/>
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0' />
    <title>Cars For Sale</title>
    <link rel='stylesheet' href="{{ url_for('static', filename='styles.css') }}"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  </head>
  <body>
    <div class='page'>
      <div class='section menu'>
        <div class='title'>
          <h1>Car Catalog App</h1>
        </div>
        <div class='login-button-container'>
            <button class="login-button">Login</button>
        </div>
      </div>
      <div class='section banner'>
        <img src="{{ url_for('static', filename='automobiles-1869873_1920.jpg') }}">
      </div>
      <div class='section category-container'>
        <div class='section category'>
          <a class='category-link' href="{{ url_for('readCategory', category='Coupe') }}">Coupe</a>
        </div> 
        <div class='section category'>
          <a class='category-link' href="{{ url_for('readCategory', category='Hatchback') }}">Hatchback</a>
        </div>
        <div class='section category'>
          <a class='category-link' href="{{ url_for('readCategory', category='Van') }}">Van</a>
        </div>
        <div class='section category'>
          <a class='category-link' href="{{ url_for('readCategory', category='Pickup') }}">Pickup</a>
        </div>
        <div class='section category'>
          <a class='category-link' href="{{ url_for('readCategory', category='Sedan') }}">Sedan</a>
        </div>
        <div class='section category'>
          <a class='category-link' href="{{ url_for('readCategory', category='SUV') }}">SUV</a>
        </div>
        <div class='section category'>
          <a class='category-link' href="{{ url_for('readCategory', category='Wagon') }}">Wagon</a>
        </div>
        <div class='section category create-posting'>
          <a class='category-link' href="{{ url_for('createCar') }}">Create New Posting</a>
        </div>
      </div>
      <div class='section card-container'>
          {% for car in newest %}
          <div class='section car-card'>
            <a href="{{ url_for('readCar', category=car.category, car_id=car.id) }}"><span>{{ car.year }} {{ car.make }} {{car.model }}</span></a>
            <span>{{ format_currency(car.price) }}</span>
          </div>
          {% endfor %}
      </div>
      <div class='section footer'>
        <p>This is the footer</p>
      </div>
    </div>

  </body>
</html>