



html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
  }

body {
    height: 100%;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

#map {
    width: 100%;
    height: 100%;
    display: block;
}

  #map-container {
      width: 100%;
      height: calc(100% - 20px);
      position: relative;
  }

  .page-header {
      height: 29px;
      width: 100%;
      background-color: #B8D8D8;
      position: relative;
  }

  .menu-header {
      margin-bottom: 0;
  }

  h1 {
    font-family: 'Pacifico', cursive;
  }

  h3 {
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .toggle-button {
      background-color: #B8D8D8;
      border: none;
      font-size: 20px;
  }

  .pano {
    height: 300px;
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .fs-info {
    padding-top: 5px;
    border-radius: 0 0 5px 5px;
    display: flex;
    flex-direction: column;
    max-width: 400px;
    height: 120px;
  }

  .fs-details {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .score-box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    color: white;
    font-size: 2em;
    font-weight: 400;
    padding: 5px;
    margin-right: 5px;
  }

  .price-box {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: auto;
    font-size: 2em;
    font-weight: 400;
    padding: 5px;
  }

  .tip {
    text-decoration: none;
    font-style: italic;
    color: black;
    padding-left: 5px;
    padding-right: 5px;
  }

  .tip:hover {
    text-decoration: underline;
  }

  .fs-logo {
    text-align: right;
    margin-left: 10px;
  }

  .fs-fail {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  ul {
    list-style-type: none;
    padding-left: 0;
  }

  .menu-item {
    margin-bottom: 5px;
  }

  li:hover {
      border-radius: 3px 0 0 3px;
      background-color: #7A9E9F;
      padding-left: 5px;
  }


  .slideout-menu {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 0;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    display: none;
  }

  .slideout-panel {
    height: 100%;
    position: relative;
    z-index: 1;
  }

  .slideout-menu-left {
      left: 0;
      padding-left: 10px;
      background-color: #EEF5DB;
  }

  .slideout-open,
  .slideout-open body {
    overflow: hidden;
    width: 100%;
  }




  .slideout-open .slideout-menu {
    display: block;
    width: 300px;
  }