* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', Verdana, Geneva, Tahoma, sans-serif;
}

.page {
    display: flex;
    flex-wrap: wrap;
}

.section {
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu {
    background-color: #7e7f9a;
    height: 80px;
}

.title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 67%;
    align-items: flex-start;
    margin-left: 20px;
    height: 80px;
}

.login-button-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 33%;
    align-items: flex-end;
    margin-right: 20px;
    height: 80px;
}

.login-button {
    background-color: #eb9486;
    border: none;
    color: #272838;
    text-align: center;
    font-size: 16px;
    border-radius: 8px;
    width: 120px;
    height: 40px;
}

.login-button:active {
    background-color: #eb9486;
    box-shadow: 0 5px #666;
    transform: translateY(2px);
}


.banner {
    width: 100%;
    display: block;
}

.category-container {
    justify-content: space-evenly;
    flex-wrap: wrap;
    height: auto;
    background-color: #7e7f9a;
    padding-bottom: 5px;
}

.category {
    width: 100%;
    height: 40px;
    background-color: #7cabba;
    border-radius: 5px;
    margin-top: 5px;
}

.category:hover {
    border: black solid 3px;
    background-color: #9dcddd;
}

.create-posting {
    background-color: #f3de8a;
    font-weight: bold; 
}

.create-posting:hover {
    background-color: #f4e4a3;
}

.card-container {
    justify-content: space-evenly;
    flex-wrap: wrap;
    height: auto;
    background-color: #7e7f9a;
    padding-bottom: 15px;
}

.car-card {
    width: 100%;
    height: 300px;
    background-color: #f3de8a;
    border-radius: 5px;
    margin-top: 10px;
}

.footer {
    height: 60px;
    background-color: #f9f8f8;
}

.section-title {
    height: 60px;
    justify-content: center;
    background-color: #f9f8f8;
}

.breadcrumb-banner {
    height: 60px;
    justify-content: left;
    background-color: #7cabba;
    padding-left: 20px;
}

.category-container {
    justify-content: space-evenly;
    flex-wrap: wrap;
    height: auto;
    background-color: #7e7f9a;
    padding-bottom: 15px;
}

.car-container {
    background-color: #7e7f9a;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    justify-content: space-around;
    padding-top: 20px;
}

.ad-img-container {
    width: 100%;
    height: auto;
    padding: 0px 20px 0px 20px;
}

.ad-img-container img {
    max-width: 100%;
    max-height: 360px;
}

.car-details {
    width: 100%;
    height: 120px;
    flex-direction: column;
    align-self: flex-start;
    padding: 10px 20px 10px 20px;
}

.car-description {
    width: 100%;
    padding: 10px 20px 10px 20px;
}




/* Mobile Styles */
@media only screen and (max-width: 400px) {
    body {
        background-color: #F09A9D;
    }
}

/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
    .category {
        width: 49%;
    }
    .car-card {
        width: 45%;
    }
}

/* Desktop Styles */
@media only screen and (min-width: 961px) {
    .page {
        width: 960px;
        margin: 0 auto;
    }
    .category {
        width: 49%;
    }
    .car-card {
        width: 30%;
    }
    .ad-img-container {
        width: 60%;
    }
    .car-details {
        width: 40%;
    }
}